*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Segoe UI", Arial, sans-serif;
}

:root
{
    --violet: #7557F7;
    --light-violet: #8368F8;
    --super-light-violet: #C5B9F8;
    
    --black:#000000;
    --moderated-black: #2D2D2D;
    --light-black: #3A3A3A;

    --grey:#707070;
    --light-grey: #A0A0A0;

    --white: #FFFFFF;
    --moderated-white: #F9F9F9;
    --light-white: #EEEEEE;
}

::-webkit-scrollbar {display: none;} /* hide scroll bar */

body 
{ 
    background: #f9f9f9; 
    overflow-x: hidden;
    width: 100vw;
}
.darkMode { background: #7557F7; }

h1,h2,h3,h4,h5,h6,p,i{color:var(--moderated-black)}

/************************************
            COMPONENTS
************************************/
/* buttons */
.lightVioletBtn_square
{
    height: 36px;
    width: 36px;
    border-radius: 10px;

    background: var(--light-violet);
    box-shadow: 1px 3px 6px #00000010;

    display: flex;
    align-items: center;
    justify-content: center;
}
.lightVioletBtn_square:active{background: var(--violet)}
.darkMode .lightVioletBtn_square{background: var(--light-black);}
.darkMode .lightVioletBtn_square:active{background: var(--moderated-black);}
.lightVioletBtn_square img 
{ 
    width: 22px;
    height: auto;
}

.btn-next
{
    position: fixed;
    bottom: 5rem;
    right: 2rem;
    height: 40px;
    width: 140px;

    border: none;
    background: none;
    outline: none;
    border-radius: 5px;
    background-color: #FF69B495;

    font-size: 16px;
    font-weight: 600;
    color: var(--white);
    text-transform: uppercase;
}
.btn-next:active{background-color: #FF69B475;}
.btn-next.secundary
{
    border: 2px solid #EEEEEE50;
    color: #EEEEEE99;
    background-color: var(--violet);
    left: 2rem;
}
.btn-next.secundary:active{background-color: #EEEEEE10;}

/* go back arrow */
#back
{
    height: 26px;
    width: 50px;
    border-radius: 30px;
    background: #FFFFFF20;

    display: flex;
    align-items: center;
    justify-content: center;
}
#back:active{background: #FFFFFF30;}
#back i 
{
    color: var(--moderated-white);
    font-size: 14px;
}


/* searcher */
#searcher
{
    position: relative;
    height: 30px;
    width: 65%;
    min-width: 120px;
    border-radius: 30px;
    margin-left: 10px;

    background: var(--white);
    display: flex;
    align-items: center;
}
#searcher i
{
    margin-left: 10px;
    color: var(--light-grey);
    opacity: .45;
}
#searcher input
{
    position: absolute;
    top: 0;
    left: 30px;
    padding: 0 10px;
    background: none;
    outline: none;
    border: none;
    height: 100%;
    width: calc(100% - 30px);
    color: var(--violet);
}
#searcher input::placeholder{color: var(--light-grey)}

/* dropdown card*/
.dopdrown-card
{
    position: relative;
    width: 100%;
    border-bottom: 4px solid #C661D0;
    height: 60px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0 1rem;
    overflow: hidden;
    background: rgba(0,0,0,0.05);
    transition: .3s;
}
.dopdrown-card.active
{
    height: 200px;
}
.dopdrown-card .visible-part
{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dopdrown-card .visible-part h1
{
    font-size: 16px;
    color: var(--light-white);
    font-weight: 500;
    pointer-events: none;
}
.dopdrown-card .visible-part select
{
    position: relative;
    outline: none;
    border: none;
    height: 32px;
    width: 120px;
    padding: 0 6px;
    border-radius: 5px;
    background: #C661D060;
    color: var(--white);
    z-index: 5;
    pointer-events: all;
}
.dates 
{
    display: flex;
    padding: 2rem 0 1rem 0;
    justify-content: space-between;
}
.dates .inputBox 
{ 
    width: 135px;
}

.dopdrown-card .row
{
    gap: 10px;
    align-items: center;
}
.dopdrown-card .row p{color: white; font-size: 12px;}
.dopdrown-card .row input
{
    height: 36px;
    outline: none;
    background: white;
    border: none;
    border-radius: 5px;
    width: 80px;
    padding: 0 10px;
    font-size: 16px;
    color: var(--violet);
    text-align: center;
}

/************************************
               HEADER
************************************/
header
{
    position: relative;
    width: 100vw;
    height: 150px;
    padding: 1.4rem;

    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background: var(--violet);
}

header h1
{
    font-size: 28px;
    font-weight: 700;
    color: #f9f9f9;
}

header p
{
    font-size: 16px;
    font-weight: 400;
    color: #f9f9f9;
}

#headerBtns
{
    position: absolute;
    top: 1rem;
    right: 1rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}
/* darkMode header */
.darkMode header{ background: var(--moderated-black);}
.darkMode h1,.darkMode p { color: var(--light-white); }


/*****************************
       CREATE TOURNAMENT
******************************/
#createTournament .form .inputBox
{
    position: relative;
    display: flex;
    align-items: center;
    padding: 6px 10px;
    height: 36px;
    background: var(--white);
    border-radius: 5px;
    box-shadow: 2px 2px 6px #00000020;
    transition: .3s;
}
#createTournament .form .inputBox.error::before,
#createTournament .form .inputBox.error::after
{
    content: '';
    position: absolute;
    top:0;
    height: 100%;
    width: 4px;
    background: #ff000080;
}
#createTournament .form .inputBox.error::before
{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    left: 0;
}
#createTournament .form .inputBox.error::after
{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    right: 0;
}
#createTournament .form .row
{display: flex; flex-direction: row; gap: 30px}
#createTournament .form .inputBox p {
    position: absolute;
    left: 10px;
    color: var(--moderated-black);
    pointer-events: none;
    transition: .3s;
    white-space: nowrap;
}
#createTournament .form .inputBox.focus p { transform: translateY(-30px); font-size: 12px; left: 0; color: white}
#createTournament .form .inputBox input,
#createTournament .form .inputBox select,
#createTournament .form .inputBox textarea
 {
    border:none;
    outline: none;
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    color: var(--violet);
    font-weight: 500;
    background: transparent;
}

