<header>
    <p>Bienvenido,</p>
    <h1>Santana919</h1>

    <section id="headerBtns">
        <div class="lightVioletBtn_square">
            <img src="/assets/icons/user.png"/>
        </div>
        <div class="lightVioletBtn_square">
            <img src="/assets/icons/bell.png"/>
        </div>
        <div class="lightVioletBtn_square">
            <img src="/assets/icons/config.png"/>
        </div>
    </section>

    <section id="userAccounts">
        <div class="account">
            <h1>15</h1>
            <h3>Santa❤/LIU</h3>
            <h6>#0V33ZAU</h6>
        </div>
        <div class="account active">
            <h1>14</h1>
            <h3>Santa❤/LIU</h3>
            <h6>#0V33ZAU</h6>
        </div>
        <div class="account">
            <h1>13</h1>
            <h3>Santa❤/LIU</h3>
            <h6>#0V33ZAU</h6>
        </div>
        <div class="account">
            <h1>10</h1>
            <h3>Santa❤/LIU</h3>
            <h6>#0V33ZAU</h6>
        </div>
        <div class="account">
            <h1>9</h1>
            <h3>Santa❤/LIU</h3>
            <h6>#0V33ZAU</h6>
        </div>
        <div class="account addAccount">
            <h1>+</h1>
            <h3>Santa❤/LIU</h3>
            <h6>Añadir</h6>
        </div>
    </section>
</header>

<section id="statistics">
    <div id="userId">
        <img src="/assets/leagues/maestro.png"/>
        <div>
            <h1>Santa❤/LIU</h1>
            <p>#0V33ZAU</p>
        </div>
    </div>

    <!--<div id="cicle_graph_box">
        <div id="cicle_graph">
            <div id="inside_circle">
                <h1>62</h1>
                <h3>ATAQUES</h3>
                <h5>TOTAL</h5>
            </div>
        </div>
    </div>-->

    <section id="statistics_points">
        <i class="fa-regular fa-circle-question"></i>
        <div class="column">
            <p>ATK ★</p>
            <h1>2.4</h1>
            <div class="bars">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar active"></div>
                <div class="bar active"></div>
                <div class="bar active"></div>
                <div class="bar active"></div>
            </div>
        </div>
        <div class="column">
            <p>ATK %</p>
            <h1>88.8</h1>
            <div class="bars">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar active"></div>
                <div class="bar active"></div>
                <div class="bar active"></div>
            </div>
        </div>
        <div class="column">
            <p>EXP</p>
            <h1>12</h1>
            <div class="bars">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar active"></div>
                <div class="bar active"></div>
                <div class="bar active"></div>
                <div class="bar active"></div>
            </div>
        </div>
        <div class="column">
            <p>DEF ★</p>
            <h1>2.1</h1>
            <div class="bars">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar active"></div>
                <div class="bar active"></div>
                <div class="bar active"></div>
            </div>
        </div>
        <div class="column">
            <p>DEF %</p>
            <h1>76.2</h1>
            <div class="bars">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar active"></div>
                <div class="bar active"></div>
                <div class="bar active"></div>
            </div>
        </div>
    </section>
</section>
