#decorationLogin{position:relative; background: var(--violet);}
.decoration{position: absolute;}
.decoration:nth-child(1){ top: -8%; left: -6% }
.decoration:nth-child(2){ top: 16%; right: 4%;}
#start
{
    position: relative;
    z-index: 1;
    background: transparent;
    min-height: 100vh;
    width: 100%;
    padding: 1rem 0 4rem 0;
}
#start > * {z-index: 1;}
#start > *:not(section) {margin: 0 1.5rem;}
#start h1{font-size: 70px; font-weight: 700; color:var(--white); margin-bottom: 1rem;}
#start p{font-size: 16px; color:var(--light-white); margin-bottom: 1.5rem;}

#start .btnLightViolet
{
    height: 50px;
    padding: 0 30px;
    border-radius: 10px;
    background: #9E88FF;
    color: var(--white);
    border:none;
    outline: none;
    box-shadow: 0 0 12px #9E88FF90;

    margin: 1rem 1.5rem;
    font-size: 16px;
    text-transform: uppercase;
    transition: .1s;
}
#start .btnLightViolet:active{background: #9780ff;}
#start .btnLightViolet.secundary{border: 2px solid #9E88FF; background: transparent;}
#start .btnLightViolet.secundary:active{background: #FFFFFF08;}

/*************************/

.languages
{
    position: absolute;
    right: -1rem;
    top:1rem;

    display: flex;
    gap:5px;
}
.language > p {margin: 0 !important; font-size: 12px !important;}
.language
{
    position: relative;
    width: 40px;
    height: 20px;
    border: 1px solid var(--light-white);
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.language:has(input:checked)
{
    background: rgba(255,255,255,.2);
}
.language input[type="radio"]
{
    appearance: none;
    position: absolute;
    width: 100%;
    height: 100%;
}




/*************************/
#login
{
    position: relative;
    margin-top: 2rem;
    width: 100%;
    border: 1px solid #FFFFFF40;
    border-radius: 60px;
    box-shadow: 0 0 12px #00000020;

    background: #9179F9;

    padding: 1.75rem 2rem 4rem 2rem;
}
#login.overflowHidden{overflow-x: hidden;}
#login .floating-icon{position: absolute; width: 50px; height: 53px; transition: .5s;}
#login .floating-icon .icon
{
    position: relative;
    width: 50px;
    height: 53px;
    background: #9E88FF;
    border-radius: 10px;
    border-bottom: 3px solid #7D60FE;
    z-index: 2;
}
#login .floating-icon .shadow
{
    position: absolute;
    width: 30px;
    height: 10px;
    background: black;
    bottom: -2px;
    opacity: .2;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(5px);
    z-index: 1;
}

#login .floating-icon:nth-child(1){top: -3.5%; left: 17.5%}
#login .floating-icon:nth-child(2){top: 4%; left: 2%}
#login .floating-icon:nth-child(3){top: 40%; left: 3%}
#login .floating-icon:nth-child(4){top: 30%; right: 2%}
#login .floating-icon:nth-child(5){top: 44%; right: 6%}

#login .floating-icon.right.hide{ right: -5rem }
#login .floating-icon.left.hide{ left: -5rem; }
#login .floating-icon:nth-child(1).left.hide{ left: -3.2rem; }

.advantages
{
    width: 72%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    animation: appear 1s;
}
.advantages.hide
{
    opacity: 0;
    animation: disappear .5s;
}

.advantages h3
{
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    margin: 1rem 0 1.5rem 0;
}
.advantages p
{
    font-size: 14px;
    font-weight: 200;
    color: var(--light-white);
    text-align: center;
}
.advantages p strong{font-weight: 400; font-size: 14px;}


p[name='btnsInfo']
{
    text-align: center;
    margin: 2rem 0 0 0 !important;
    font-size: 14px !important;
    font-weight: 200;
}
.actionBtns
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
.actionBtns::before
{
    content: '';
    position: absolute;
    width: 1px;
    height: 70%;
    background: #9E88FF;
}
#login .actionBtns .btnLightViolet
{
    font-size: 14px;
    padding: 0;
    margin: 1rem 0;
    width: 125px;
    box-shadow: none;
}
p[name='register']
{
    text-align: center;
    font-size: 14px !important;
    font-weight: 200; 
}
p[name='register'] strong{font-size: 12px;}

#keepReadig
{
    margin: 2rem 0 0 0;
    display: flex;
    gap: 6px;
    width: 100%;
    justify-content: flex-end;
}
#keepReadig p{font-size: 12px; font-weight: 200; margin: 0; line-height: 24px;}
#keepReadig > div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#keepReadig i{font-size: 12px; color: var(--moderated-white); opacity: .6; transform: translateY(4px);}
#keepReadig i:last-child{transform: translateY(-4px);}

/***********************
      INICIAR SESSION
************************/
#loginBox
{
    position: absolute;
    top: 1rem;
    background: var(--moderated-white);
    background: transparent;
    border-radius: 15px;
    width: 90%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem 0 0 0 ;
    animation: appear 1s;
}
#loginBox.hide
{
    display: flex !important;
    opacity: 0;
    animation: disappear .5s;
}
#quit
{
    position: absolute;
    top: -.25rem;
    border-radius: 50%;
    border: 2px solid transparent;
    height: 26px;
    width: 26px;

    display: flex;
    align-items: center;
    justify-content: center;
}
#quit:active { border: 2px solid var(--light-white); }
#quit i { color: var(--white); font-size: 16px; }

#loginBox.hide{display: none;}
#loginBox h3{font-size: 14px; color:#f9f9f9;margin-bottom: 4px;}
#loginBox p{font-size: 12px; font-weight: 400; color: #EEE;}


/*
#loginBox input
{
    border: none;
    outline: none;
    background: var(--white);
    box-shadow: 1px 3px 6px #00000020;
    height: 46px;
    border-radius: 5px;
    padding-left: 10px;
    margin: 10px 0;
} */

#loginBox .inputBox 
{
    position: relative;
    height: 46px;
    width: 70%;
    max-width: 220px;
    background: var(--white);
    box-shadow: 1px 3px 6px #00000020;
    border-radius: 5px;
    margin: 10px 0;
}
#loginBox .inputBox:last-child{margin: 20px 0;}
#loginBox .inputBox p
{
    position: absolute;
    top: -20px;
}
#loginBox .inputBox div
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap:10px;
}
#loginBox .inputBox i
{
    width: 16%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--violet)
}
#loginBox .inputBox input
{
    border: none;
    outline: none;
    background: none;
    height: 100%;
    width: 84%;
    font-size: 14px;
    font-weight: 500;
    color: var(--violet)
}

/******************************
          ANIMATIONS
******************************/
@keyframes appear {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        display: flex;
        opacity: 1;
    }
}
@keyframes disappear {
    0%{
        display: flex;
        opacity: 1;
    }
    100%{
        display: flex;
        opacity: 0;
    }
}
