nav
{
    position: fixed;
    z-index: 100;
    bottom: 0;
    height: 10vh;
    width: 100vw;
    background: var(--white);

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}