<header>
    <h1>Conversaciones</h1>
    <p>Pacta el horario de tu guerra</p>
    <div class="filters">
        <div id="searcher">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" name="searcherInpt" placeholder="Buscar..."/>
        </div>
    </div>
</header>
<section id="chats">
    <div class="chat" routerLink="/chats/chat1">
        <div class="img"></div>
        <h1>Mirror Cup</h1>
    </div>
    <div class="chat" routerLink="/chats/chat2">
        <div class="img"></div>
        <h1>Mirror Cup</h1>
    </div>
    <div class="chat" routerLink="/chats/chat3">
        <div class="img"></div>
        <h1>Mirror Cup</h1>
    </div>
</section>

