<header>
    <h1>Mirror Cup</h1>
    <p>Compite por el primer puesto</p>

    <div id="searcher">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" name="searcherInpt" placeholder="Buscar..."/>
    </div>

</header>

<div class="card" routerLink="/tournament/teams">
    <div class="options">
        <div class="optionsDot"></div>
        <div class="optionsDot"></div>
        <div class="optionsDot"></div>
    </div>
    <div class="cardId">
        <div class="img"></div>
        <div class="info">
            <h1>Mirror Cup</h1>
            <p>inscripciones abiertas</p>
        </div>
    </div>
    <div class="labels">
        <div class="label">th15</div>
        <div class="label">5v5</div>
        <div class="label">15min x 1h</div>
    </div>
    <p>Eres de los que eligen las bases fáciles?<br>Ataca a espejo y demuestra que no hay ninguna base que se te resiste!!</p>
</div>
<div class="card">
    <div class="options">
        <div class="optionsDot"></div>
        <div class="optionsDot"></div>
        <div class="optionsDot"></div>
    </div>
    <div class="cardId">
        <div class="img"></div>
        <div class="info">
            <h1>Mirror Cup</h1>
            <p>inscripciones abiertas</p>
        </div>
    </div>
    <div class="labels">
        <div class="label">th15</div>
        <div class="label">5v5</div>
        <div class="label">15min x 1h</div>
    </div>
    <p>Eres de los que eligen las bases fáciles?<br>Ataca a espejo y demuestra que no hay ninguna base que se te resiste!!</p>
</div>
<div class="card">
    <div class="options">
        <div class="optionsDot"></div>
        <div class="optionsDot"></div>
        <div class="optionsDot"></div>
    </div>
    <div class="cardId">
        <div class="img"></div>
        <div class="info">
            <h1>Mirror Cup</h1>
            <p>inscripciones abiertas</p>
        </div>
    </div>
    <div class="labels">
        <div class="label">th15</div>
        <div class="label">5v5</div>
        <div class="label">15min x 1h</div>
    </div>
    <p>Eres de los que eligen las bases fáciles?<br>Ataca a espejo y demuestra que no hay ninguna base que se te resiste!!</p>
</div>
