<header>
    <div id="back" routerLink="/tournaments">
        <i class="fa-solid fa-arrow-left"></i>
    </div>
    <h1>Mirror Cup</h1>
    <p>Agenda</p>
</header>

<button class="btnViolet jornadas">Planificación</button>
<!--<button class="btnViolet planification">Jornadas</button>-->

<section id="index" class="jornadas">
    <i class="fa-solid fa-chevron-left"></i>
    <h1>Jornada 1</h1>
    <i class="fa-solid fa-chevron-right"></i>
</section>

<section id="jornadasBox" class="jornadas">
    <div class="match">
        <div class="team">
            <img src="/assets/lleida.png" />
            <h1>LPT</h1>
        </div>
        <div class="warInformation">
            <p name="date">16/04</p>
            <p name="hour">23:00</p>
            <div class="result">
                <p>12</p>
                <p>-</p>
                <p>14</p>
            </div>
        </div>
        <div class="team">
            <img src="/assets/lleida.png" />
            <h1>LPT</h1>
        </div>
    </div>
    <div class="match">
        <div class="team">
            <img src="/assets/lleida.png" />
            <h1>LPT</h1>
        </div>
        <div class="warInformation">
            <p name="date">16/04</p>
            <p name="hour">23:00</p>
            <div class="result">
                <p>12</p>
                <p>-</p>
                <p>14</p>
            </div>
        </div>
        <div class="team">
            <img src="/assets/lleida.png" />
            <h1>LPT</h1>
        </div>
    </div>
    <div class="match">
        <div class="team">
            <img src="/assets/lleida.png" />
            <h1>LPT</h1>
        </div>
        <div class="warInformation">
            <p name="date">16/04</p>
            <p name="hour">23:00</p>
            <div class="result">
                <p>12</p>
                <p>-</p>
                <p>14</p>
            </div>
        </div>
        <div class="team">
            <img src="/assets/lleida.png" />
            <h1>LPT</h1>
        </div>
    </div>
</section>


