<header>
    <div id="back">
        <i class="fa-solid fa-arrow-left"></i>
    </div>
    <h1>Mirror Cup</h1>
    <p>Tu equipo</p>

</header>

<section id="teamData">
    <div>
        <img src="/assets/lleida.png" />
        <div>
            <h1>Lleida Ponent</h1>
            <p>#8R2Q8G0V</p>
        </div>
    </div>
    <p>Abreviación: <strong>LPT</strong></p>
    <p>Jugadores: <strong>5/10</strong></p>
</section>

<section id="playersBox">
    <h1>Rooster</h1>
    <div id="actions">
        <div class="btnVisibilityType active" (click)="changeRooster(statistics, user, 'statistics')" #statistics></div>
        <div class="btnVisibilityType" (click)="changeRooster(user, statistics, 'profile')" #user></div>
    </div>
    <div class="player">
        <div>
            <h1>Player 1</h1>
            <p>#8R2Q8G0V</p>
        </div>
        <p class="profile hide">Aldea</p>
        <p class="profile hide">Perfil</p>
        <div class="statistics">
            <p>9</p>
            <p>2.4</p>
            <p>88.7</p>
        </div>
    </div>
    <div class="player">
        <div>
            <h1>Player 2</h1>
            <p>#8R2Q8G0V</p>
        </div>
        <p class="profile hide">Aldea</p>
        <p class="profile hide">Perfil</p>
        <div class="statistics">
            <p>9</p>
            <p>2.4</p>
            <p>88.7</p>
        </div>
    </div>
    <div class="player">
        <div>
            <h1>Player 3</h1>
            <p>#8R2Q8G0V</p>
        </div>
        <p class="profile hide">Aldea</p>
        <p class="profile hide">Perfil</p>
        <div class="statistics">
            <p>9</p>
            <p>2.4</p>
            <p>88.7</p>
        </div>
    </div>
    <div class="player">
        <div>
            <h1>Player 4</h1>
            <p>#8R2Q8G0V</p>
        </div>
        <p class="profile hide">Aldea</p>
        <p class="profile hide">Perfil</p>
        <div class="statistics">
            <p>9</p>
            <p>2.4</p>
            <p>88.7</p>
        </div>
    </div>
    <div class="player">
        <div>
            <h1>Player 5</h1>
            <p>#8R2Q8G0V</p>
        </div>
        <p class="profile hide">Aldea</p>
        <p class="profile hide">Perfil</p>
        <div class="statistics">
            <p>9</p>
            <p>2.4</p>
            <p>88.7</p>
        </div>
    </div>
</section>
<div class="spacer" style="--height: .2rem"></div>