#back{margin-bottom: 1rem;}
#teamData { display: flex; flex-wrap: wrap; padding: 2rem;}
#teamData > div 
{
    width: 100%;
    display: grid;
    grid-template-columns: 28% 72%;
    margin-bottom: 2rem;
}
#teamData > div img
{
    height: 70px;
    width: auto;
}

#teamData > div > div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#teamData > div > div > p
{
    background: #EFEDF9;
    height: 26px;
    line-height: 26px;
    border-radius: 30px;
    width: 120px;
    text-align: center;
    color: var(--moderated-black);
    font-weight: 200;
    margin-top: 2px;
}
#teamData > div > div > p:active{background: #dedaf3;}
#teamData > div > div > h1
{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--moderated-black);
}

#teamData > p 
{
    margin-right: 20px !important;
    color: var(--moderated-black);
}

/**************************
          PLAYERS
***************************/
#playersBox
{
    position: relative;
    width: 90%;
    padding: 1rem 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    background: var(--white);
    border-radius: 30px;
    box-shadow: 0 3px 6px #00000010;
    margin-bottom: 8rem;
}
#playersBox > h1
{
    color: var(--violet);
    font-weight: 600;
    margin-bottom: 1rem;
}
#playersBox #actions
{
    position: absolute;
    right: 2rem;
    top: 1rem;
    
    display: flex;
    justify-content: center;
    gap: 14px;
}

.btnVisibilityType
{
    height: 34px;
    width: 34px;
    border-radius: 5px;
    background: #F5F5F5;
    box-shadow: 0 1px 2px #00000010;
    transform: translateY(-5px);
    transition: .3s;
}
.btnVisibilityType.active {background: var(--light-violet);}


.player
{
    position: relative;
    width: 100%;
    border-bottom: 1px solid #F5F5F5;

    display: flex;
    align-items: center;
    padding: 10px 0;
}
.player:last-child{border-bottom: none;}
.player > div
{
    display: flex;
    flex-direction: column;
}
.player > div > h1 
{
    font-size: 20px; 
    font-weight: 500;
    width: 110px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.player > div > p {font-size: 14px; font-weight: 200;}

.player p.profile
{
    position: absolute;
    background: #EFEDF9;
    border-radius: 30px;
    height: 26px;
    line-height: 26px;
    width: 65px;
    text-align: center;
    font-size: 14px;
    justify-self: end;
    right: 0;
    color:var(--violet);
}
.player p.profile:nth-child(2){right: 70px;}
.player p.profile:active{background: #dedaf3;}

.profile.hide,
.statistics.hide,
.statistics.hide *
{display: none;}


.statistics
{
    position: absolute;
    right: 0;
    flex-direction: unset !important;

    transform: translateY(5px);
}
.statistics p
{
    position: relative;
    font-size: 20px !important;
    font-weight: 500 !important;
    margin: 0 5px;
    width: 50px;
    text-align: center;
    color: var(--violet);
}
.player:nth-child(3) .statistics p::before
{
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);

    font-size: 8px;
    font-weight: 400;
    color: #2d2d2d;
}

.player:nth-child(3) .statistics p:nth-child(1)::before{content:'ATAQUES'}
.player:nth-child(3) .statistics p:nth-child(2)::before{content:'ESTRELLAS'}
.player:nth-child(3) .statistics p:nth-child(3)::before{content:'PORCENTAJE'}


.spacer
{
    height: var(--height);
}


/********************
     INSCRIVIRSE
********************/
#inscribe-team
{
    position: relative;
    padding: 2rem;
}
#inscribe-team p:nth-child(2){margin-bottom: 1rem;}
#inscribe-team input
{
    border:none;
    outline:none;
    border-radius: 5px;
    height: 40px;
    box-shadow: 0 2px 4px #00000010;
    padding: 0 10px;
    margin: 4px 0;
}
input[name='nombre-torneo']{width: 220px;}
input[name='abv-torneo']{width: 95px; margin-left: 4px !important;}

#inscribe-team .playersBox
{
    margin: 2rem 0;
}
#inscribe-team .playersBox p { font-size: 14px; color: var(--grey); margin-bottom: 1rem;}

#inscribe-team .playersBox .player
{
    height: 40px;
    background: white;
    box-shadow: 0 2px 4px #00000020;
    border-radius: 5px;

    display: flex;
    align-items: center;
    width: 280px;
    margin: .5rem 0;
}
#inscribe-team .playersBox .player .number
{
    height: 26px;
    width: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--grey);

    font-size: 16px;
    font-weight: 500;
}
#inscribe-team .playersBox .player input
{
    background: none;
    box-shadow: unset;

    font-size: 16px;
    font-weight: 500;
    width: 100%;
}
#inscribe-team button
{
    border:none;
    outline: none;

    height: 40px;
    padding: 0 20px;
    background: var(--violet);
    color: white;
    font-weight: 500;
    border-radius: 5px;
}
#inscribe-team button:active{background: #694EDE;}