<header>
    <div id="back" routerLink="/tournaments">
        <i class="fa-solid fa-arrow-left"></i>
    </div>
    <h1>Mirror Cup</h1>
    <p>Equipos inscritos</p>

    <div id="searcher">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" name="searcherInpt" placeholder="Buscar..."/>
    </div>

</header>

<section id="teams">
    <div class="team" *ngFor="let t of this.teams">
        <p name="short_name">{{t.abr}}</p>
        <img src="/assets/lleida.png" />
        <h1>{{t.name}}</h1>
        <p>{{t.tag}}</p>
    </div>
</section>