<section>
    <header>
        <div id="back" routerLink="/chats">
            <i class="fa-solid fa-arrow-left"></i>
        </div>
        <div>
            <h1>Mirror cup</h1>
            <p>toca para información del grupo</p>
        </div>
    </header>

    <section class="messages">
        <div class="user">
            <div class="message"><p>Hola buenas!! Soy Luis.</p></div>
            <div class="message"><p>Como estas?</p></div>
        </div>
        <div class="user author">
            <div class="message"><p>Bien, ganamos todos los partidos</p></div>
        </div>
        <div class="user">
            <div class="message"><p>Que bueno!!</p></div>
        </div>
        <div class="user author">
            <div class="message"><p>a</p></div>
            <div class="message"><p>a</p></div>
        </div>
        <div class="user">
            <div class="message"><p>Hola buenas!! Soy Luis.</p></div>
            <div class="message"><p>Como estas?</p></div>
        </div>
        <div class="user author">
            <div class="message"><p>Bien, ganamos todos los partidos</p></div>
        </div>
        <div class="user">
            <div class="message"><p>Que bueno!!</p></div>
        </div>
        <div class="user author">
            <div class="message"><p>a</p></div>
            <div class="message"><p>a</p></div>
        </div>
        <div class="user">
            <div class="message"><p>Hola buenas!! Soy Luis.</p></div>
            <div class="message"><p>Como estas?</p></div>
        </div>
        <div class="user author">
            <div class="message"><p>Bien, ganamos todos los partidos</p></div>
        </div>
        <div class="user">
            <div class="message"><p>Que bueno!!</p></div>
        </div>
        <div class="user author">
            <div class="message"><p>a</p></div>
            <div class="message"><p>a</p></div>
        </div>
    </section>

    <div id="chat-actions">
        <div class="btnsBox">
            <button>horario</button>
        </div>
        <div class="sendBox">
            <div class="inputBox">
                <input type="text" placeholder="escribe..."/>
            </div>
            <div class="sendBtn"><i class="fa-regular fa-paper-plane"></i></div>
        </div>
    </div>
</section>
